<div class="mt-12">
  <div class="border-b-2 border-gray-200 pb-12 flex justify-between">
    <ul class="w-32 flex justify-between">
      <li class="w-6 h-6">
        <a
          href="https://facebook.com"
          target="_blank"
          aria-label="Facebook"
          rel="noopener noreferrer"
          class="inline-block transform transition-transform hover:-translate-y-1"
          ><img src="assets/icons/facebook.svg" alt="Facebook" class="w-6 h-6"
        /></a>
      </li>
      <li class="w-6 h-6">
        <a
          href="https://twitter.com"
          target="_blank"
          aria-label="Twitter"
          rel="noopener noreferrer"
          class="inline-block transform transition-transform hover:-translate-y-1"
          ><img src="assets/icons/twitter.svg" alt="Twitter" class="w-6 h-6"
        /></a>
      </li>
      <li class="w-6 h-6">
        <a
          href="https://instagram.com"
          target="_blank"
          aria-label="Instagram"
          rel="noopener noreferrer"
          class="inline-block transform transition-transform hover:-translate-y-1"
          ><img
            src="assets/icons/instagram.svg"
            alt="Instagram"
            class="w-6 h-6"
        /></a>
      </li>
    </ul>
    <div class="w-40 flex gap-2 items-center">
      <img src="assets/images/logo/logo.svg" alt="Logo" />
      <h1 class="text-lg font-bold text-red-500">BEST SHOP</h1>
    </div>
    <ul class="w-32 flex justify-between">
      <li class="w-6 h-6">
        <button
          class="flex items-center rounded transform transition-transform hover:scale-150"
        >
          <img src="assets/icons/search.svg" alt="Search" class="w-6 h-6" />
        </button>
      </li>
      <li class="w-6 h-6">
        <button
          class="flex items-center rounded transform transition-transform hover:scale-150"
        >
          <img src="assets/icons/user.svg" alt="User" class="w-6 h-6" />
        </button>
      </li>
      <li class="w-6 h-6">
        <button
          class="flex items-center rounded transform transition-transform hover:scale-150"
        >
          <img
            src="assets/icons/shopping-cart.svg"
            alt="Shopping-cart"
            class="w-6 h-6"
          />
        </button>
      </li>
    </ul>
  </div>
  <nav class="mx-auto w-max my-8">
    <ul class="flex justify-between gap-14">
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</div>
