<section class="flex flex-col justify-center items-center mt-24 mb-24">
  <h4 class="font-extrabold text-4xl">Our Grateful Customers</h4>
  <p class="mt-2">
    See what our happy customers are saying about their experience with us. Your
    satisfaction is our priority!
  </p>
  <ul class="flex gap-6 mt-4">
    <li
      class="w-1/3 flex flex-col gap-4 justify-between items-center bg-white shadow-xl p-8 rounded-lg"
    >
      <img src="assets/images/faces/Nick.png" alt="" class="max-w-[10vw]" />
      <p class="text-sm p-4">
        I’m so impressed with the quality and comfort of these sneakers. They’ve
        exceeded all my expectations!
      </p>
      <span class="text-red-500 font-bold">Nick Wade, New York</span>
    </li>
    <li
      class="w-1/3 flex flex-col gap-4 justify-between items-center bg-white shadow-xl p-8 rounded-lg"
    >
      <img src="assets/images/faces/Natasha.png" alt="" class="max-w-[10vw]" />
      <p class="text-sm">
        Fast delivery and excellent customer service. I’ll definitely shop here
        again!
      </p>
      <span class="text-red-500 font-bold">Natasha Reyes, California</span>
    </li>
    <li
      class="w-1/3 flex flex-col gap-4 justify-between items-center bg-white shadow-xl p-8 rounded-lg"
    >
      <img src="assets/images/faces/Carolyn.png" alt="" class="max-w-[10vw]" />
      <p class="text-sm">
        Stylish and affordable! These sneakers are my new favorites for both
        work and weekends.
      </p>
      <span class="text-red-500 font-bold">Carolyn Banks, Miami</span>
    </li>
  </ul>
</section>
