<app-popular-today></app-popular-today>
<section class="font-text flex justify-between py-8">
  <div class="flex flex-col">
    <ul class="w-4/5 flex justify-between mb-8">
      <app-footer-links
        title="About Us"
        [links]="['Organization', 'Partners', 'Clients']"
      ></app-footer-links>
      <app-footer-links
        title="Interesting Links"
        [links]="['Photo Gallery', 'Our Team', 'Socials']"
      ></app-footer-links>
      <app-footer-links
        title="Achievements"
        [links]="['Winning Awards', 'Press', 'Our Amazing Clients']"
      ></app-footer-links>
    </ul>
    <app-shipping-info></app-shipping-info>
  </div>
  <app-contact-footer></app-contact-footer>
</section>
<p class="text-center">© 2025 Sneaker Store. All rights reserved.</p>
