<section
  class="font-sans bg-slate-100 -mx-52 flex justify-center items-center p-36"
>
  <div class="w-1/3">
    <h2 class="font-bold text-5xl mb-8">
      Fantastic Features That Makes You Look Cool
    </h2>
    <p class="text-xl text-slate-600 mb-8 w-4/5">
      Step into the future of fashion with our exclusive sneaker collection.
      Designed for comfort, built for performance, and crafted to keep you ahead
      of the trend. Explore a variety of styles that perfectly match your vibe.
    </p>
    <button class="bg-red-600 p-3 text-white font-semibold rounded-md">
      View All Items
    </button>
  </div>
  <img
    alt="Products"
    class="w-[600px] h-[600px] object-contain transition-all duration-700 ease-in-out"
  />
</section>
