<section
  class="flex justify-center items-center w-full min-h-[30vh] bg-[url('assets/images/bg/Offer-bg.png')] bg-cover bg-center mt-20 rounded-2xl overflow-hidden gap-16 text-white relative"
>
  <div class="absolute inset-0 bg-black bg-opacity-30"></div>
  <div class="w-1/2 flex flex-col justify-center items-center z-10">
    <h4 class="font-extrabold text-9xl">80%</h4>
    <p>Unbelievable savings on our top sneakers this month!</p>
  </div>
  <div class="w-1/2 flex flex-col gap-4 z-10">
    <h5 class="font-extrabold text-4xl">Offer Of The Month</h5>
    <p>Don’t miss out on this exclusive deal. Limited time only!</p>
    <button
      class="bg-red-600 p-3 text-white font-semibold rounded-md transform hover:scale-110 inline-block transition-transform duration-300 w-[200px]"
    >
      Get Offer Today
    </button>
  </div>
</section>
